// ===== Global Resets ======
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ===== Utility Classes ======

// ===== Main Styles ======

html {
  font-family: $ff-main;
}

body {
  width: 100%;
  min-height: 100vh;

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

p,
span {
  font-size: $fs-main;
}

.container {
  margin: 80px 24px 20px;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr 50%;
    grid-template-areas:
      'title stars'
      'subtitle stars'
      'reviews reviews';
    row-gap: 12px;
    width: 80%;
    margin: 120px 160px 50px;
  }
}
