// ===== Global Resets ======
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ===== Utility Classes ======
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// ===== Main Styles ======

html {
  font-family: $ff-main;
}

body {
  width: 100%;
  min-height: 100vh;

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

p,
span {
  font-size: $fs-main;
}

.container {
  margin: 80px 24px 20px;

  @media (min-width: $desktop) {
    margin: 120px 160px 20px;
    // height: 300px;
  }
}
