.intro__title {
  margin-bottom: 24px;
  text-align: center;
  font-size: 40px;
  line-height: 1;
  color: $clr-magenta-900;

  @media (min-width: $desktop) {
    grid-area: title;
    margin-bottom: 0;
    text-align: left;
    font-size: 45px;
    padding-right: 60px;
  }
}

.intro_subtitle {
  font-size: 16px;
  text-align: center;
  color: $clr-magenta-700;
  margin-bottom: 45px;
  line-height: 1.7;

  @media (min-width: $desktop) {
    grid-area: subtitle;
    margin-bottom: 0;
    text-align: left;
    padding-right: 60px;
  }
}
