.reviews {
  @media (min-width: $desktop) {
    grid-area: reviews;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 30px;
    margin-top: 50px;
    min-height: 320px;
  }
  .card {
    margin-bottom: 16px;
    padding: 37px 30px;
    border-radius: 8px;
    background-color: $clr-magenta-900;
    color: $clr-white;

    @media (min-width: $desktop) {
      margin-bottom: 0;
      min-height: 244px;
    }

    &__info {
      display: flex;
      margin-bottom: 28px;
    }

    &__img {
      // border: 3px solid white;
      width: 40px;
      height: 40px;
      margin-right: 23px;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: 40px;
        height: 40px;
      }
    }

    &__person {
      .person__name {
        display: block;
        margin-bottom: 3px;
        font-weight: $fw-700;
        color: $clr-magenta-400;
      }

      .person__status {
        display: block;
        color: $clr-magenta-800;
      }
    }

    &__text {
      font-weight: $fw-500;
      color: $clr-magenta-400;
      line-height: 1.7;
    }

    &--first {
      @media (min-width: $desktop) {
        align-self: start;
      }
    }

    &--second {
      @media (min-width: $desktop) {
        align-self: center;
      }
    }

    &--last {
      margin-bottom: 0px;
      @media (min-width: $desktop) {
        align-self: end;
      }
    }
  }
}
