.stars {
  // border: 1px solid red;
  margin-bottom: 50px;
  &__card {
    // border: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 15px 50px;
    background-color: $clr-magenta-400;
    margin-bottom: 15px;
    border-radius: 8px;

    &--last {
      margin-bottom: 0;
    }
  }

  &__icon {
    margin-right: 3px;

    &--last {
      // margin-bottom: 16px;
      margin-right: 0;
    }
  }

  &__description {
    font-size: 13px;
    font-weight: $fw-700;
    color: $clr-magenta-900;
    margin-top: 10px;
  }

  &--last {
    // margin-bottom: 49px;
  }
}
