// Layout
$mobile: 375px;
$mobile: 1080px;

// Colors
$white: hsl(0, 0%, 100%);
$magenta-400: hsl(300, 24%, 96%);
$magenta-700: hsl(303, 10%, 53%);
$magenta-900: hsl(300, 43%, 22%);

// Fonts
$ff-main: 'Spartan', sans-serif;

$fs-main: 15px;

$fw-400: 400;
$fw-500: 500;
$fw-700: 700;
